<div class="jumbotron text-right">
  <h1>About this app!</h1>
  <p>This is a simple app created with Node.js and Express, it will allow you to save all your ideas to the database</p>
  <small>Version 1.0.0</small>
</div>

<strong>Technologies used</strong>
<ul>
  <li>ES6, ES7 feautures</li>
  <li>Node.js</li>
  <li>Express</li>
  <li>Handlebars</li>
  <li>MongoDB</li>
  <li>Mongoose <small>as ODM</small></li>
</ul>
