<div class="jumbotron text-center">
  <h1 class="display-3">Welcome</h1>
  <p class="lead">Write down your ideas... all of them!</p>
  <a href="/ideas/add" class="btn btn-primary">Add New Idea</a>
</div>
