<div class="card">
  <div class="card-body">
    <h4 class="card-title text-center">Add New Idea</h4>
    <form action="/ideas" method="post">
      <div class="form-group">
        <label class="col-form-label" for="title">Title:</label>
        <input type="text" class="form-control" name="title" id="title" placeholder="Add Title" required>
      </div>
      <div class="form-group">
        <label class="col-form-label" for="details">Add your details</label>
        <textarea name="details" class="form-control" id="details" placeholder="Add details" required></textarea>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-success">Add</button>
      </div>
    </form>
  </div>
</div>
